* {
    box-sizing: border-box;
}

body{
    font-family: monospace;
    color: white;
    background-color: rgb(44, 44, 46);
    margin: 0;
    font-size: 3vmax;
}

.container{
    display:grid;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

button{
    margin: 2vmax;
    padding: 1vmax;
    font-size: 5vmax;
    border-radius: 1vmax;
    border: 0;
    background-color: rgb(82, 82, 82);
    color: white;
}

button:hover{
    background-color: rgb(100, 100, 100);
}

button:focus{
    background-color: rgb(150, 150, 150);
}
