* {
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: rgb(44, 44, 46);
    color: white;
    font-size: 3vmax;
    font-family: monospace;
}

.stats{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2vmax;
    background-color: rgb(65, 65, 65);
    padding: 0.5vmax 1vmax 0.5vmax 1vmax;
    border-bottom-left-radius: 1vmax;
}

.sentence{
    background-color: rgb(82, 82, 82);
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 1vmax;
}



.textline{
    position: relative;
    background-color: rgb(82,82,82);
}

.textbox{
    background-color: rgb(82,82,82);
    font-size: 3vmax;
    padding: 0;
    margin: 0;
    margin-left:-0.05vmax;
    border: none;
    border-bottom:3px solid white;
    border-image: linear-gradient(to left, rgb(82,82,82) 1.7vmax, white 1.7vmax) 100% 1;
    color: white;
    font-family: monospace;
}

input:focus{
    outline: 0;
}

.wrong{
    color:rgb(255, 115, 0);
}

.buttons{
    display: grid;
    grid-template-columns: 1fr;
}

.buttons button{
    margin: 2vmax;
    padding: 1vmax;
    font-size: 5vmax;
    border-radius: 1vmax;
    border: 0;
    background-color: rgb(82, 82, 82);
    color: white;
}

.buttons button:hover, .back:hover{
    background-color: rgb(100, 100, 100);
}

.buttons button:focus, .back:focus{
    background-color: rgb(150, 150, 150);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5vmax 1vmax 0.5vmax 1vmax;
    border: none;
    border-bottom-right-radius: 1vmax;
    font-size: 2vmax;
    background-color: rgb(82, 82, 82);
    color: white;
}